body{
    margin: 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.corpo--geral{
    background-image: url(../imagens/plano_fundo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
}
h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
button{
    max-width: 130px;
    font-size: 16px;
    margin: 10px 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 13px;
    border:0;
    border-radius: 8px;
    background-color: pink;
    cursor: pointer;
    outline: 0;
    box-shadow: 1px 1px 2px #ccc;
    background: linear-gradient( pink, rgb(136, 19, 39));
}
.corpo--perguntas{
    font-size: 35px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.item--perguntas{
    margin: 20px 100px;
    text-align: center;
    min-height: 150px;
}
.corpo--resultado div{
    font-size: 37px;
    line-height: 45px;
    margin: 10px 100px;
    text-align: center;
    
}
.corpo--resultado{
    display: none;
    flex-direction: column;
    align-items: center;
}
.corpo--resultado button{
    margin-top: 30px;
}
@media ( max-width: 768px){
    .item--perguntas{
        margin: 10px;
        min-height: 250px;
        font-size: 33px;
    }
    .corpo--resultado div{
        margin: 10px;
    }
    h1{
        margin: 10px;
        font-size: 40px;
    }
}